<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <connectionStrings>
    <add name="Project_AppleEntities" connectionString="metadata=res://*/QLBH_Apple.csdl|res://*/QLBH_Apple.ssdl|res://*/QLBH_Apple.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=NGUYEN-THANH-PH\SQLEXPRESS;Initial Catalog=Project_Apple3;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>